<h2>My Profile</h2>
<h3><%= @user.name %>さんのプロフィール</h3>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">レッスンの完了状況</h4>
        <p class="card-text"><span style="font-size: 200%">5</span>&frasl; 13個</p>
        <p class="card-text">今月は目標まであと8個です。<br>この調子で頑張りましょう！</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">残りのレッスン</h4>
        <p class="card-text"><span style="font-size: 200%">5</span>&frasl; 13個</p>
        <p class="card-text">今月は目標まであと8個です。<br>この調子で頑張りましょう！</p>
      </div>
    </div>
  </div>
</div>